<footer >
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <img class="logo1" src="../images/logo1.png" alt="#"/>
                    <ul class="about_us">
                        <li>dolor sit amet, consectetur<br> magna aliqua. Ut enim ad <br>minim veniam, <br> quisdotempor incididunt r</li>
                    </ul>
                    <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h3>Useful Link</h3>
                    <ul class="link_menu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About services</a></li>
                        <li><a href="#">About Departments</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h3>The Services</h3>
                    <ul class="link_menu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About services</a></li>
                        <li><a href="#">About Departments</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <h3>Contact Us</h3>
                    <ul class="link_menu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About services</a></li>
                        <li><a href="#">About Departments</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-8 offset-md-4 ">
                    <form class="bottom_form">
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p>© 2022 Được phát triển bởi <a onclick="tuchoi()" href="#"> Nkóm 1 Sje^u c4^'p Vjp Pr0</a></p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    function tuchoi(){
        alert("Từ chối truy cập! =))")
    }

</script>