tr{
    text-align: center;
    vertical-align: center;
}

.btn-primary {
    margin: 10px;
}

h1 {
    text-align: center;
    margin: 20px;
}

#searchForm {
    float: right;
}

#page {
    position: fixed;
    margin-top: 1000px;
}
img {
    width: 20%;
}